.layout{
  border: 1px solid #d7dde4;
  background: #f5f7f9;
  position: relative;
  border-radius: 4px;
  overflow: hidden;
  height:100%;
  .layout-box{
    height: 100%;
  }
  .Left-menu{
    width: 274px;
    height:100%;
    overflow-y: scroll;
  }
  .Left-menu-tog{
    width: 65px;
    height:100%;
    overflow-y: scroll;
  }
}
.menu-collapsed{
  width: 100%;
  div{
    width: 100%;
  }
}
.ivu-layout-sider-children{
  overflow-y: scroll;
  overflow-x: hidden;
  margin-right:-15px;
}
.drop-menu-a{
  display: inline-block;
  width: 100%;
  font-size:20px;
  color: #fff;
  padding: 10px 15px;
  text-align: center;
}
.dropdown-new{
  width: 100%;
  text-align: center;
}
.layout-header-bar{
  background: #fff;
  box-shadow: 0 1px 1px rgba(0,0,0,.1);
}
.layout-logo-left{
  width: 100%;
  height: 30px;
  text-align: center;
  line-height: 30px;
  margin: 10px auto;
  color: #2d8cf0;
}
.menu-icon{
  transition: all .3s;
}
.rotate-icon{
  transform: rotate(-90deg);
}
.menu-item span{
  display: inline-block;
  overflow: hidden;
  vertical-align: bottom;
  transition: width .2s ease .2s;
}
.menu-item i{
  transform: translateX(0px);
  transition: font-size .2s ease, transform .2s ease;
  vertical-align: middle;
  font-size: 16px;
}
.collapsed-menu li.ivu-menu-item,
.collapsed-menu li.ivu-menu-submenu,
.collapsed-menu li.ivu-menu-submenu .ivu-menu-submenu-title{
  height: 50px;
  text-indent: 4px;
}
.collapsed-menu>div.layout-logo-left{
  width: 65px;
  margin:10px 0;
  transition: width .2s ease;
}
.collapsed-menu>div.ivu-dropdown{
  width: 65px;
  height:50px;
  transition: width .2s ease;
}
.collapsed-menu span{
  width: 0px;
  transition: width .2s ease;
}
.collapsed-menu i{
  transform: translateX(8px);
  transition: font-size .2s ease .2s, transform .2s ease .2s;
  vertical-align: middle;
  font-size: 22px;
}
