.s-xzqsearch{
  .title{
    padding: 6px;
    border-bottom: 1px solid #eee;
    font-weight: 900;
  }
  .s-content{
    padding: 6px;
    font-size: 0.875rem;
    span{
      margin-right: 3px;
      font-size: 0.75rem;
    }
    .s-weather{
      display: inline-block;
      width: 3rem;
    }
  }
  dl{
    dt{
      padding: 5px 5px 5px 10px;
    }
    dd{
      padding-left: 10px;
    }
  }
  .search-btn{
    margin-top: 10px;
  }
}
