.s-xzqsearch{
  .title{
    padding: 6px;
    border-bottom: 1px solid #eee;
  }
  dl{
    dt{
      padding: 5px 5px 5px 10px;
    }
    dd{
      padding-left: 10px;
    }
  }
  .search-btn{
    margin-top: 10px;
  }
}
